<%- include('../components/header.ejs'); %>
<div class="container">


<h1 class="text-center mb-2">Business Information</h1>

<div class="row">
   
    <div class="col">

       <div class="d-flex justify-content-between">
        <% if(addbusiness.length<1) { %>
        
        <a href="/owner/addbusiness/add" id="addButton" class="btn btn-primary mb-1"><i class="fas fa-plus-circle"></i> Add Business</a>
        <% } %>
        <a href="/owner/" class="btn btn-success mb-1 ">Dashboard</a>
        </div>

        <table class="table table-striped table-bordered table-hover">
            <thead class="table-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Description</th>
                 <% if(displayName) { %>
                  <th></th>
                  <th></th>
                <% } %>
              </tr>
            </thead>
            <tbody>

             <!-- Repeatable Row Template -->   

             <% for(let count = 0; count < addbusiness.length; count++) { %>
              
                <tr>
                    <th scope="row"><%= count + 1 %></th>
                    <td><%= addbusiness[count].bname %></td>
                    <td><%= addbusiness[count].baddress %></td>
                    <td><%= addbusiness[count].bdescription %></td>
                     <% if(displayName) { %>
                      <td class="text-center"><a href="/owner/addbusiness/edit/<%= addbusiness[count]._id %>" class="btn btn-primary btn-sm edit"><i class="fas fa-edit fa-sm"></i> Edit</a></td>
                      <td class="text-center"><a href="/owner/addbusiness/delete/<%= addbusiness[count]._id %>" class="btn btn-danger btn-sm deletebusiness"><i class="fas fa-trash-alt fa-sm"></i> Delete</a></td>
                    <% } %>
                </tr>

              <% } %>

            </tbody>
          </table>
    </div>
</div>

</div>

<%- include('../components/footer.ejs'); %>