<%- include('../components/header.ejs'); %>

<div class="container">
    <div class="text-center mt-5">
        <h1>Welcome to Transactions</h1>
        
         <% if(isowner == "owner"){ %>
            

            <% if(addbusiness.length > 0){ %>
            <h2>Add Customers to  "<%= addbusiness[0].bname %>" to Manage Your Transactions</h2>
            <a href="/owner/addcustomer" class="btn btn-primary mt-4"><i class="fas fa-plus-circle p-1"></i>Add Customer to <%= addbusiness[0].bname %></a><br>
             <a href="/owner/addbusiness" class="btn btn-primary mt-3"><%= addbusiness[0].bname %> Details</a><br>
             <a href="/owner/transactionhistory" class="btn btn-primary mt-3">View Summary</a>
            <% } else { %>
             <h3>Add Your Business to Manage Your Transactions</h3>
            <a href="/owner/addbusiness" class="btn btn-primary mt-3"><i class="fas fa-plus-circle"></i> Add business</a><br>
            <% }  %>
            
           
         <% } else { %>
           <h3>Track your Expense</h3>
          <a href="/customer/businesslist" class="btn btn-primary mt-4"><i class="fas fa-list p-1"></i>Business List</a><br> 
         <% }  %>
    </div>
  
</div>


<%- include('../components/footer.ejs'); %>