<%- include('../components/header.ejs'); %>


<div class="container">

    <div class="row">

        <div class="col-lg-4 col-md-10 col-sm-10">
            <lottie-player src="https://assets7.lottiefiles.com/private_files/lf30_lrvfsw2v.json"  background="transparent"  
            speed="1" class="mt-5 text-center img-hide"  style="width: 400px; height: 400px;"  loop autoplay></lottie-player>
        </div>
        
        <div class="col-lg-8 col-md-10 col-sm-10">
            <h1 class="text-center mb-4"><%= title %></h1>
            <div class="d-flex justify-content-end">
                <a href="/owner/" class="btn btn-success mb-1 ">Dashboard</a>
            </div>

            <table class="table table-striped table-bordered table-hover">
                <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Amount</th>
                </tr>
                </thead>
                <tbody>
                <% var totamount = 0.0 %>
                <!-- Repeatable Row Template -->   

                <% for(let count = 0; count < addcustomer.length; count++) { %>
                
                    <tr>
                        <th scope="row"><%= count + 1 %></th>
                        <td><%= addcustomer[count].custname %></td>
                        <td><%= addcustomer[count].custemail %></td>
                        <td>$<%= addcustomer[count].custamount %></td>
                        <% totamount += parseInt(addcustomer[count].custamount) %>
                    </tr>

                <% } %>

                </tbody>
            </table>
            <h3 class="text-center">Total: $<%= totamount %></h3>
            
        </div>
    </div>
</div>


<%- include('../components/footer.ejs'); %>